<h1>Pokemons#show</h1>

  
    <p><%= @pokemon.name %> </p>
    <p><%= @pokemon.attack %> </p>
    <p><%= @pokemon.speed %> </p>
    <p><%= @pokemon.defense %> </p>
    <p><%= @pokemon.happiness %> </p>
    <p><%= @pokemon.species %> </p>
    <p><%= @pokemon.growth_rate %> </p>
